@import url(https://fonts.googleapis.com/css?family=Roboto:300);

auth-container {
    position: relative;
    height: 50%;
}
.signin-container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 360px;
    height: 454px;
    margin: auto;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    z-index: 1;
}
.signin-form{
    position: absolute;
    width: 100%;
    height: 60%;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    background: #FFFFFF;
    padding: 45px;
}

.signin-container input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background:  rgba(0, 242, 255, 0.3);
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.signin-container button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #030163;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.signin-container button:hover,.form button:active,.form button:focus {
    background: #030153;
}

.signin-container .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}
.signin-container .message a {
    color: #4CAF50;
    text-decoration: none;
}

.teleport-logo {
    width: 100px;
    height: auto;
    position: relative;
    left: 32%;
    bottom: 6%;
}