body{
  background: linear-gradient(90deg, #00f2ff, #8800f0, #e127eb );
  width: 100vw;
  height: 100vh;
}

.app-content {
}


.error {
  z-index: 3;
  color: darkred;
  font-size: x-large;
  text-align: center;
}

.ui.message {
  width: 98%;
  margin: 1% auto;
  z-index: 100;
}

@keyframes fadein {
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}