:root {
  --circle-radius: 21em;
  --circle-radius-no-metric: 21;
}
@media screen and (min-width: 320px) and (max-width: 499px) {
  :root{
    --circle-radius: 14em;
    --circle-radius-no-metric: 14;
  }
}
@media screen and (min-width: 500px) and (max-width: 735px) {
  :root{
    --circle-radius: 18em;
    --circle-radius-no-metric: 18;
  }
}

body{
  background: linear-gradient(90deg, #00f2ff, #8800f0, #e127eb );
  width: 100vw;
  height: 100vh;
}

.app-content {
}

.screen-container {
  position: relative;
  width: calc(var(--circle-radius)*2);
  height: calc(var(--circle-radius)*2);
  padding: 2em;
  /*2.8em = 2em*1.4 (2em = half the width of a link with img, 1.4 = sqrt(2))*/
  border: dashed 1px;
  border-radius: 50%;
  background-image: url('https://storage.googleapis.com/teleport_public/device/front-extracted.jpg');
  background-size: calc(var(--circle-radius)*2.4);
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}

.error {
  z-index: 3;
  color: darkred;
  font-size: x-large;
  text-align: center;
}
