:root{
    --avatar-translate: 106%;
    --scale-factor: 1.04;
    --pushback-scale-factor: 0.8;
    --pushback-transition: 0.4s;
    --pushback-avatar-translate: 82%;
    --selection-animation-time: 0.45s;
    --selection-animation-function: ease;
}

.contact-list-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.available {
    border: 6px solid mediumseagreen;
    transition: border 0.2s !important;
}

.available:hover {
    transform: scale(var(--scale-factor));
    border: 2px solid mediumseagreen;
}

.unavailable {
    border: 6px solid gray;
    pointer-events: none;
}
.busy {
    border: 6px solid red;
    pointer-events: none;
}

.loading {
    position: absolute;
    top: 50%;
    width: 100%;
    height: auto;
    text-align: center;
    color: white;
    font-family: sans-serif;
    z-index: 5;
}

.center {
    transition: none;
}

.leaving {
    z-index: 4;
    transition: all 0.3s !important;
}

.selected, .selected:hover {
    pointer-events: none !important;
    border: none !important;
    transform: scale(3.22) !important;
    z-index: 4 !important;
    transition: transform var(--selection-animation-time) !important;
    transition-timing-function: var(--selection-animation-function) !important;
}

.animatedAvatar{
    transition: all var(--pushback-transition);
    transition-timing-function: var(--pushback-avatar-translate);
}

/**Todo: Find a better way to avoid this hack**/
.deg0.pushed-back {transform: translate(var(--pushback-avatar-translate)) scale(var(--pushback-scale-factor)); transition: all var(--pushback-transition); }
.deg30.pushed-back { transform: rotate(30deg) translate(var(--pushback-avatar-translate)) rotate(-30deg) scale(var(--pushback-scale-factor)); transition: all var(--pushback-transition); }
.deg90.pushed-back { transform: rotate(90deg) translate(var(--pushback-avatar-translate)) rotate(-90deg) scale(var( --pushback-scale-factor)); transition: all var(--pushback-transition); }
.deg150.pushed-back { transform: rotate(150deg) translate(var(--pushback-avatar-translate)) rotate(-150deg) scale(var( --pushback-scale-factor)); transition: all var(--pushback-transition); }
.deg180.pushed-back { transform: translate(calc(var(--pushback-avatar-translate) * -1)) scale(var( --pushback-scale-factor)); transition: all var(--pushback-transition); }
.deg210.pushed-back { transform: rotate(210deg) translate(var(--pushback-avatar-translate)) rotate(-210deg) scale(var( --pushback-scale-factor)); transition: all var(--pushback-transition); }
.deg270.pushed-back { transform: rotate(270deg) translate(var(--pushback-avatar-translate)) rotate(-270deg) scale(var( --pushback-scale-factor)); transition: all var(--pushback-transition); }
.deg330.pushed-back { transform: rotate(330deg) translate(var(--pushback-avatar-translate)) rotate(-330deg) scale(var( --pushback-scale-factor)); transition: all var(--pushback-transition); }


/** ContactAvatar Styling **/
.contact-avatar {
    position: relative;
    width: 100%;
    height: 100%;
    background: white;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s;
    transition-timing-function: ease-out;
    overflow: hidden;
    z-index: 2;
}

.contact-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    transition: transform var(--selection-animation-time);
    transition-timing-function: var(--selection-animation-function);
}

.contact-avatar.hoverEnabled img:hover {
    transform: scale(calc(var(--scale-factor)*1.02));
}

.contact-info-background {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.6); /* Black w/opacity/see-through */
    position: absolute;
    width: 100%;
    height: 30%;
    top: 70%;
    color: white;
}

.contact-info-text {
    position: relative;
    top: 10%;
    width: 100%;
    font-family: ".SF NS Display";
    font-size: 170%;
    text-align: center;
}
